body {
    text-align: center;
}

.box {
    height: 200px;
    width: 200px;
    border: solid black 7px;
    border-radius: 20%;
    margin: 2rem;
}

.maindiv {
    display: flex;
    justify-content: center;
    
}

.red {
    background-color: #FD433E;
}

.green {
    background-color: #3ACA4A;
}

.yellow {
    background-color: #FEDA30;
}

.blue {
    background-color: #1277D6;
}

.btncolor {
    background-color: white;
}

.usercolor {
    background-color: rgba(18, 17, 17, 0.5);
}